<section class="bg--light">
    <div class="wrapper">
        <div class="flex">
            <div class="col-12 lg__col-8 lg__col-offset-2 text--center margin--bottom-12 margin--top-8">
                <h2 class="lg__text--2xl lg__margin--bottom-12">{{ title }}</h2>
                <p>
                    {{ description }}
                </p>
            </div>

            <div class="flex align--end margin--bottom-12 lg__margin--bottom-25">
                <div class="col-12 lg__col-6 lg__col-offset-1 margin--bottom-12 lg__margin--bottom-0">
                    <img alt="" src="/assets/images/comment/collect.png"/>
                </div>
                <div class="col-12 lg__col-4">
                    <h3 class="text--lg lg__text--2xl">
                        Collecter automatiquement
                    </h3>
                    <hr class="margin--y-7"/>
                    <p>
                        {{ collect }}
                    </p>
                </div>
            </div>

            <div class="flex--reverse align--end margin--bottom-12 lg__margin--bottom-25">
                <div class="col-12 lg__col-6 lg__col-offset-1 margin--bottom-12 lg__margin--bottom-0">
                    <img alt="" src="/assets/images/comment/visualize.png"/>
                </div>
                <div class="col-12 lg__col-4">
                    <h3 class="text--lg lg__text--2xl">
                        Visualiser en un clin d'œil
                    </h3>
                    <hr class="margin--y-7"/>
                    <p>
                        {{ visualize }}
                    </p>
                </div>
            </div>

            <div class="flex align--end margin--bottom-12 lg__margin--bottom-25">
                <div class="col-12 lg__col-6 lg__col-offset-1 margin--bottom-12 lg__margin--bottom-0">
                    <img alt="" src="/assets/images/comment/warn.png"/>
                </div>
                <div class="col-12 lg__col-4">
                    <h3 class="text--lg lg__text--2xl">
                        Vous avertir
                    </h3>
                    <hr class="margin--y-7"/>
                    <p>
                        {{ warn }}
                    </p>
                </div>
            </div>

            <div class="flex--reverse align--end margin--bottom-12 lg__margin--bottom-25">
                <div class="col-12 lg__col-6 lg__col-offset-1 margin--bottom-12 lg__margin--bottom-0">
                    <img alt="" src="/assets/images/comment/predict.png"/>
                </div>
                <div class="col-12 lg__col-4">
                    <h3 class="text--lg lg__text--2xl">
                        Prédire
                    </h3>
                    <hr class="margin--y-7"/>
                    <p>
                        {{ predict }}
                    </p>
                </div>
            </div>

            <div class="flex align--end margin--bottom-12 lg__margin--bottom-25">
                <div class="col-12 lg__col-6 lg__col-offset-1 margin--bottom-12 lg__margin--bottom-0">
                    <img alt="" src="/assets/images/comment/act.png"/>
                </div>
                <div class="col-12 lg__col-4">
                    <h3 class="text--lg lg__text--2xl">
                        Agir
                    </h3>
                    <hr class="margin--y-7"/>
                    <p>
                        {{ act }}
                    </p>
                </div>
            </div>

            <div class="flex--reverse align--end margin--bottom-12 lg__margin--bottom-18">
                <div class="col-12 lg__col-6 lg__col-offset-1 margin--bottom-12 lg__margin--bottom-0">
                    <img alt="" src="/assets/images/comment/communicate.png"/>
                </div>
                <div class="col-12 lg__col-4">
                    <h3 class="text--lg lg__text--2xl">
                        Communiquer
                    </h3>
                    <hr class="margin--y-7"/>
                    <p>
                        {{ communicate }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
